:root {
    --text: rgb(30, 30, 32);
    --background: white;
}

@font-face {
    font-family: 'Agloist';
    src: url('fonts/algoist/AgloistRegular.eot');
    src: url('fonts/algoist/AgloistRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/algoist/AgloistRegular.woff2') format('woff2'),
        url('fonts/algoist/AgloistRegular.woff') format('woff'),
        url('fonts/algoist/AgloistRegular.ttf') format('truetype'),
        url('fonts/algoist/AgloistRegular.svg#AgloistRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('fonts/cmu/CMUSerif-Roman.eot');
    src: url('fonts/cmu/CMUSerif-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/cmu/CMUSerif-Roman.woff2') format('woff2'),
        url('fonts/cmu/CMUSerif-Roman.woff') format('woff'),
        url('fonts/cmu/CMUSerif-Roman.ttf') format('truetype'),
        url('fonts/cmu/CMUSerif-Roman.svg#CMUSerif-Roman') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html,
body {
    height: 100%;
    background-color: var(--background);
}

body {
    margin: 0px;
    color: var(--text);
    font-family: 'CMU Serif';
    font-size: 25px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
.title {
    text-align: center;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: load;
    animation-duration: 0.7s;
}

main {
    width: 600px;
    height: 300px;
    max-width: 80%;
}

main.article {
    animation-name: article;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

article {
    text-align: justify;
    font-size: 24px;
    overflow: scroll;
}

header {
    font-family: 'Agloist';
    padding: 0 0 50px 0;
    font-size: 50px;
}

header.home {
    font-variant: small-caps;
}

header,
.back,
.title-wrapper {
    height: 50px;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-text {
    flex-grow: 1;
}

.rosemary {
    flex-grow: 1;
}

div.links div.link {
    padding: 10px;
}

a {
    color: var(--text);
    text-decoration: none;
    border-bottom: 1px solid var(--text);
}

.rosemary img {
    height: 100px;
    opacity: 0.7;
}

.back {
    position: absolute;
    padding-left: 5px;
    opacity: 0.7;
}

.back img {
    width: 13px;
}

@media only screen and (max-width: 800px) {
    article {
        font-size: 17px;
    }

    header {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 20px;
    }

    header {
        font-size: 40px;
    }

    .rosemary img {
        height: 80px;
    }
}


@keyframes article {
    0% {
        height: 300px;
    }

    50% {
        height: 300px;
    }

    100% {
        height: 80%;
    }
}

@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}